In [97]:
import pandas as pd

tool1matches = pd.read_excel('C://Users/Dhruv/Downloads/Challenge - Matching Tool/tool1.xlsm', sheetname = 'Matches')
tool1data = pd.read_excel('C://Users/Dhruv/Downloads/Challenge - Matching Tool/tool1.xlsm', sheetname = 'Data')
tool2matches = pd.read_excel('C://Users/Dhruv/Downloads/Challenge - Matching Tool/tool2.xlsm', sheetname = 'Matches')
tool2data = pd.read_excel('C://Users/Dhruv/Downloads/Challenge - Matching Tool/tool2.xlsm', sheetname = 'Data')
tool3matches = pd.read_excel('C://Users/Dhruv/Downloads/Challenge - Matching Tool/tool3.xlsm', sheetname = 'Matches')
tool3data = pd.read_excel('C://Users/Dhruv/Downloads/Challenge - Matching Tool/tool3.xlsm', sheetname = 'Data')
tool4matches = pd.read_excel('C://Users/Dhruv/Downloads/Challenge - Matching Tool/tool4.xlsm',sheetname = 'Matches')
tool4data = pd.read_excel('C://Users/Dhruv/Downloads/Challenge - Matching Tool/tool4.xlsm',sheetname = 'Data')

In [98]:
# Stripping column names of white spaces

tool1data = tool1data.rename(columns = lambda x : x.strip())
tool2data = tool1data.rename(columns = lambda x : x.strip())
tool3data = tool1data.rename(columns = lambda x : x.strip())
tool4data = tool1data.rename(columns = lambda x : x.strip())

tool1data['Vendor_No'] = tool1data['Vendor_No'].str.replace('Vendor ','')
tool2data['Vendor_No'] = tool2data['Vendor_No'].str.replace('Vendor ','')
tool3data['Vendor_No'] = tool3data['Vendor_No'].str.replace('Vendor ','')
tool4data['Vendor_No'] = tool4data['Vendor_No'].str.replace('Vendor ','')

In [99]:
frames = [tool1data,tool2data,tool3data,tool4data]
tools = pd.concat(frames)
tools.head()

,Unique.No,Year,TypeProduct_Desc,Retail_Class_Desc,Retail_SubClass_Desc,StyleDescription,Season_Name,Gender_Desc,Size_Cd,Main_Fabric_Cd,Main_Fabric_Desc,Wash,Vendor_No,Vendor_Factory,Country_Cd,Silhouette_Cd
0,140137325,SUMMER 2015,KNIT,Basic Tops,SS,BB YLW BSCMICROSTEE bright aureolin micro stri...,SPRING 2015,Boy,U5,UK1003,150GM COTTON JERSEY YD (NK1015),BASIC WASH WITH SOFTENER,7,6.0,VN,BKC015
1,140139128,SUMMER 2015,SLEEP,Boy Sleepwear,2-Piece Cotton,B TB BLUE CAMO Boy Blue Camo SS/SB Tight Fit,SUMMER 2015,Boy,V2,UK2000,190GM 1X1 RIB (WAS K2000 NK2026),NaN,66,5.0,CN,BKC013
2,140138839,SUMMER 2015,SLEEP,Girl Sleepwear,2-Piece Cotton,G TG FLAMINGO Girl Allover Flamingo Sleep SS/S...,SPRING 2015,Girl,V2,UK2000,190GM 1X1 RIB (WAS K2000 NK2026),NaN,66,5.0,CN,GKC22
3,140139130,SUMMER 2015,SLEEP,Boy Sleepwear,2-Piece Cotton,B TB STARS STRIPE Boy Stars Stripes SS/SB Tigh...,SUMMER 2015,Boy,V2,UK2000,190GM 1X1 RIB (WAS K2000 NK2026),NaN,66,5.0,CN,BKC013
4,140138841,SUMMER 2015,SLEEP,Girl Sleepwear,2-Piece Cotton,G TG SUNFLWR Girl Sunflower Sleep SS/SB Tight Fit,SPRING 2015,Girl,V2,UK2000,190GM 1X1 RIB (WAS K2000 NK2026),NaN,14,2.0,IN,GKC22

In [100]:
matchFrames = [tool1matches,tool2matches,tool3matches,tool4matches]
matches = pd.concat(matchFrames)
matches.head()

,AgeGender,AgeGenderRef,MatchDegree,MatchValue,MatchingLevel,Retail_Class_Desc,Retail_SubClass_Desc,TypeProduct_Desc,Unique.No.x,Unique.No.y
0,BB,NaN,NaN,DV,1.0,Knit Shorts,Active,KNIT,140168564,140154573.0
1,BB,NaN,NaN,DV,1.0,Knit Shorts,Active,KNIT,140168564,140154574.0
2,BB,NaN,NaN,N,1.0,Knit Shorts,Active,KNIT,140168565,140154573.0
3,BB,NaN,NaN,N,1.0,Knit Shorts,Active,KNIT,140168565,140154574.0
4,BB,NaN,NaN,N,1.0,Knit Tops,SL,KNIT,140168559,140154572.0

In [101]:
yesDict = {'DV':1, 'Y':1,'N':0}

In [102]:
matches['MatchValue'] = matches['MatchValue'].map(yesDict)

only_matches = matches[matches['MatchValue']==1]
only_matches = only_matches[['MatchValue','Unique.No.x','Unique.No.y']]
only_matches.head()

   MatchValue  Unique.No.x  Unique.No.y
0         1.0    140168564  140154573.0
1         1.0    140168564  140154574.0
5         1.0    140168559  140154575.0
7         1.0    140168560  140154569.0
8         1.0    140168560  140154570.0

In [170]:
dataMatches = pd.merge(tools, only_matches, how='left', left_on='Unique.No', right_on='Unique.No.x')
dataMatches.shape

(16128, 19)

In [171]:
dataMatches['Year'] = dataMatches['Year'].map(lambda x : x.strip())
dataMatches['Year'] = dataMatches['Year'].map(lambda x : x.split(' '))
dataMatches['Year'] = dataMatches['Year'].map(lambda x : x[1])

dataMatches['Season_Name'] = dataMatches['Season_Name'].map(lambda x : x.strip())
dataMatches['Season_Name'] = dataMatches['Season_Name'].map(lambda x : x.split(' '))
dataMatches['Season_Name'] = dataMatches['Season_Name'].map(lambda x : x[0])

def vartoCat(colNames):
    for col in colNames:
        dataMatches[col] = dataMatches[col].astype('category')
        dataMatches[col] = dataMatches[col].cat.codes
    return dataMatches

colstoCat = ['TypeProduct_Desc','Retail_Class_Desc','Retail_SubClass_Desc','Season_Name',
             'Gender_Desc','Size_Cd','Size_Cd','Country_Cd','Silhouette_Cd']
vartoCat(colstoCat)
dataMatches.head()

,Unique.No,Year,TypeProduct_Desc,Retail_Class_Desc,Retail_SubClass_Desc,StyleDescription,Season_Name,Gender_Desc,Size_Cd,Main_Fabric_Cd,Main_Fabric_Desc,Wash,Vendor_No,Vendor_Factory,Country_Cd,Silhouette_Cd,MatchValue,Unique.No.x,Unique.No.y
0,140137325,2015,6,2,39,BB YLW BSCMICROSTEE bright aureolin micro stri...,3,0,8,UK1003,150GM COTTON JERSEY YD (NK1015),BASIC WASH WITH SOFTENER,7,6.0,8,5,NaN,NaN,NaN
1,140139128,2015,9,3,2,B TB BLUE CAMO Boy Blue Camo SS/SB Tight Fit,4,0,9,UK2000,190GM 1X1 RIB (WAS K2000 NK2026),NaN,66,5.0,1,2,NaN,NaN,NaN
2,140138839,2015,9,8,2,G TG FLAMINGO Girl Allover Flamingo Sleep SS/S...,3,1,9,UK2000,190GM 1X1 RIB (WAS K2000 NK2026),NaN,66,5.0,1,65,NaN,NaN,NaN
3,140139130,2015,9,3,2,B TB STARS STRIPE Boy Stars Stripes SS/SB Tigh...,4,0,9,UK2000,190GM 1X1 RIB (WAS K2000 NK2026),NaN,66,5.0,1,2,NaN,NaN,NaN
4,140138841,2015,9,8,2,G TG SUNFLWR Girl Sunflower Sleep SS/SB Tight Fit,3,1,9,UK2000,190GM 1X1 RIB (WAS K2000 NK2026),NaN,14,2.0,3,65,NaN,NaN,NaN

In [83]:
import contextlib
import itertools
from math import sqrt
from operator import add
import sys

from docopt import docopt
from pyspark import SparkConf, SparkContext
from pyspark.mllib.recommendation import ALS

In [108]:
SPARK_EXECUTOR_MEMORY = '4g'
SPARK_APP_NAME = 'MatchingChallenge'
SPARK_MASTER = 'local'


@contextlib.contextmanager
def spark_manager():
    conf = SparkConf().setMaster(SPARK_MASTER) \
                      .setAppName(SPARK_APP_NAME) \
                      .set("spark.executor.memory", SPARK_EXECUTOR_MEMORY)
    spark_context = SparkContext(conf=conf)

    try:
        yield spark_context
    finally:
        spark_context.stop()